{
  "presets": [
    [
      "@babel/preset-env",
      {
        "loose": true,
        "shippedProposals": true,
        "targets": {
          "esmodules": true
        }
      }
    ]
  ],
  "plugins": [
    ["@babel/plugin-syntax-dynamic-import"],
    ["@babel/plugin-transform-runtime"]
  ]
}
