* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 15px;
  padding: 10px;
}

.editor {
  min-height: 6em;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 10px;
  outline: none;
  margin-bottom: 10px;
}

.editor:empty::before {
  content: attr(data-placeholder);
  color: graytext;
  cursor: text;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

th, td {
  position: relative;
  padding: 4px;
  text-align: left;
  font-size: 12px;
}

th[rowspan] {
  vertical-align: bottom;
  border: none;
}

thead tr {
  border-bottom: 1px dotted #eee;
}

tbody tr {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

abbr.row-type {
  display: inline-block;
  position: absolute;
  left: -1em;
  margin-top: 0.1em;
  width: 0.9em;
  height: 0.9em;
  border: 1px solid #ccc;
  border-radius: 1px;
}

.entry-col--index {
  width: 3em;
}

.entry-col--constructor {
  width: 12em;
}

.entry-col--type {
  width: 12em;
}

.entry-col--symbol {
  width: 1em;
  white-space: nowrap;
  text-align: center;
}

.InputEvent {
  background-color: #f4ffff;
}

.KeyboardEvent {
  background-color: #d9e5f1;
}

.CompositionEvent {
  background-color: #d8ebff;
}

.MutationRecord {
  background-color: #f7f0e0;
}

abbr, acronym {
  text-decoration: none;
  cursor: help;
}

kbd {
  background-color: #fafbfc;
  border: 1px solid #c6cbd1;
  border-bottom-color: #959da5;
  border-radius: 3px;
  color: #444d56;
  display: inline-block;
  font-size: 8px;
  line-height: 6px;
  padding: 3px 4px 2px 3px;
}

main {
  max-width: 968px;
}

.node {
  position: relative;
}

.node--text::before {
  content: "“";
}

.node--text::after {
  content: "”";
}

.diff {
  text-decoration: none;
  position: relative;
}

ins.diff,
del.diff {
  border-radius: 2px;
  padding: 1px 2px;
}

ins.diff {
  background-color: #acf2bd;
}

del.diff {
  background-color: #fdb8c0;
}

ins.diff--node::before {
  content: "+ ";
}

del.diff--node::before {
  content: "- ";
}

.symbol--null,
.symbol--false {
  opacity: 0.25;
}
