* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 10px;
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 15px;
  color: #333;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  max-width: 968px;
  margin: 0 auto;
}

footer {
  flex-shrink: 0;
  font-size: 11px;
  text-align: center;
  margin: 3em 1em 0 1em;
  color: #525252;
}

a {
  color: inherit;
}

a:active,
a:hover {
  color: inherit;
  outline: 0;
}

button {
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
}

.editor,
.snapshot {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 15px;
  color: #333;
  min-height: 6em;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 10px;
  outline: none;
}

.editor:empty:not(:focus)::before {
  content: attr(data-placeholder);
  color: graytext;
  cursor: text;
  color: #666;
}

.profile-meta {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 1rem 0;
  font-size: 11px;
  line-height: 11px;
  font-weight: normal;
  color: #666;
}

.profile-browser {
  padding-right: 2em;
}

.profile-actions {
  visibility: hidden;
}

.has-timeline .profile-actions {
  visibility: visible;
}

.profile-actions button {
  outline: none;
  padding: 3px 6px;
  margin-top: -3px;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  font-size: 12px;
  line-height: 20px;
}

th, td {
  position: relative;
  padding: 0 4px;
  text-align: left;
  white-space: nowrap;
}

th {
  font-weight: 700;
}

th[rowspan] {
  vertical-align: bottom;
  border: none;
}

td[colspan] {
  white-space: normal;
}

thead tr {
  border-bottom: 1px dotted #eee;
}

tbody tr {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

abbr.row-type {
  display: inline-block;
  position: absolute;
  left: -1.1em;
  margin-top: 0.3em;
  width: 1em;
  height: 1em;
  border: 1px solid #ccc;
  border-radius: 1px;
}

.InputEvent {
  background-color: #f4ffff;
}

.KeyboardEvent {
  background-color: #d9e5f1;
}

.CompositionEvent {
  background-color: #fffed8;
}

.MutationRecord {
  background-color: #f7f0e0;
}

abbr, acronym {
  text-decoration: none;
  cursor: help;
}

kbd {
  background-color: #fafbfc;
  border: 1px solid #c6cbd1;
  border-bottom-color: #959da5;
  border-radius: 3px;
  color: #444d56;
  display: inline-block;
  font-size: 8px;
  line-height: 6px;
  padding: 3px 4px 2px 3px;
}

.node {
  position: relative;
}

.node--text::before {
  content: "“";
}

.node--text::after {
  content: "”";
}

.diff {
  text-decoration: none;
  position: relative;
}

ins.diff,
del.diff {
  border-radius: 2px;
  padding: 1px 2px;
}

ins.diff {
  background-color: #acf2bd;
}

del.diff {
  background-color: #fdb8c0;
}

ins.diff--node::before {
  content: "+ ";
}

del.diff--node::before {
  content: "- ";
}

.symbol {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.symbol--null,
.symbol--false {
  opacity: 0.25;
}

.snapshot-container {
  position: relative;
  outline: none;
}

.snapshot {
  visibility: hidden;
  position: absolute;
  z-index: 10;
  top: calc(100% + 0.4em);
  left: -0.3em;
  width: 90vw;
  max-width: 968px;
  white-space: normal;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0.2em 0.2em 2em 0.1em rgba(0,0,0,0.2);
}

.snapshot-container:focus .snapshot {
  visibility: visible;
}

.snapshot::before {
  display: block;
  position: absolute;
  top: -0.7em;
  left: 0.7em;
  content: "";
  width: 0;
  height: 0;
  border-left: 0.7em solid transparent;
  border-right: 0.7em solid transparent;
  border-bottom: 0.7em solid #ccc;
}

.snapshot-trigger {
  cursor: zoom-in;
}

.range {
  border: 1px dashed highlight;
  padding: 0 0.1em;
  position: relative
}

.range--target {
  background-color: transparent;
  opacity: 0.6;
}

.range--target::before {
  content: " ";
  display: block;
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: highlight;
  opacity: 0.5;
}
