* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 15px;
  padding: 10px;
}

.editor {
  min-height: 6em;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 10px;
  outline: none;
  margin-bottom: 10px;
}

.editor:empty::before {
  content: attr(data-placeholder);
  color: graytext;
  cursor: text;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

td, th {
  text-align: left;
  padding: 4px 8px;
  font-size: 12px;
  border: 1px solid #ccc;
}

th {
  border-color: #333;
}

thead tr {
  background-color: #333;
  color: white;
}

tr.InputEvent {
  background-color: #f4ffff;
}

tr.KeyboardEvent {
  background-color: #d9e5f1;
}

tr.CompositionEvent {
  background-color: #d8ebff;
}

tr.MutationRecord {
  background-color: #f7f0e0;
}

main {
  max-width: 968px;
}

.node {
  position: relative;
}

.node--text::before {
  content: "“";
}

.node--text::after {
  content: "”";
}

.diff {
  text-decoration: none;
  position: relative;
}

ins.diff,
del.diff {
  border-radius: 2px;
  padding: 1px 2px;
}

ins.diff {
  background-color: #acf2bd;
}

del.diff {
  background-color: #fdb8c0;
}

ins.diff--node::before {
  content: "+ ";
}

del.diff--node::before {
  content: "- ";
}

.symbol--null,
.symbol--false {
  opacity: 0.25;
}
